@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');


.App {
  
}

.header-container {
  display: flex;
  padding: 0 .75em;
  /* border-bottom: .5px solid #333333; */
  margin-bottom: 1em; 
}

.header-h1, .header-contact, .header-title {
  font-family: 'Quicksand', sans-serif;
}

.header-h1 {
  margin-right: auto;
}

.header-title {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contact a {
  color: #386fa4;
}

.header-contact a:hover {
  color: #cc8500;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 1em;
}


.App-header {
  background-color: #3a6ea5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */


