body {
  width: 100vw;
  height: 100vh;
}



.project-container {
  
}

.project-row {
  display: flex;
  margin: 1em;
} 

.project-row > div {
  padding: 3em;
} 

.project-container .project-row:nth-child(2n+1) {
  flex-direction: row-reverse;
  border: 3px solid #ebebeb;
  border-radius: 1em;
}