@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

img {
  box-shadow: 5px 5px 8px #333333;
  width: 600px;
  height: auto;
  object-fit: cover;
}



.project-container {
  font-family: 'Open Sans', sans-serif;
}

.project-row {
  display: flex;
  margin: 1em;
} 

.project-row > div {
  padding: 2em;
} 

.project-container .project-row:nth-child(2n+1) {
  flex-direction: row-reverse;
  border-radius: 1em;
  background-color: #ebebeb;
  color: #4d4d4d;
}

